*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    position: relative;
    width: 959px;
    height: 758px;
    background: radial-gradient(50% 50% at 50% 50%, #AABCA4 0%, rgba(10, 12, 10, 0.56) 100%);
}
label{
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 60px;
    margin-left: 30px;

}
label img{
    width: 80px;
    height: 40px;   
}
nav{
    display: flex;
   
   
}
nav ul{
    display: flex;
    padding: 2rem;
    margin-left: 40rem;
   
   
}
nav ul li {
    list-style: none;
    padding: 2rem;
    float: right;
    color: white;
}
nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.home{
    margin: 20px;
}
.first{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    margin-left: 5rem;
}

.home .contain{
    display: flex;
   
}
.text-home h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 5rem 0;
    

}
.text-home p{
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 296px;
    line-height: 22px;
    padding-bottom: 3rem;
}
.text-home button{
    border: 2px solid #D32121;
    background: #D32121;
    border-radius: 10px;
    padding: .5rem;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.img-home img{
    position: absolute;
    top: 9rem;
    left: 60rem;
    width: 295px;
    height: 571px;
   
}
